[Unit]
Description = NodeJS ttyUSB0 Service
BindTo = dev-ttyUSB0.device
After = dev-ttyUSB0.device
[Service]
WorkingDirectory = /srv/nodejs
ExecStart = /usr/bin/node pub_serial.js -d /dev/ttyUSB0 -c hello_world
Restart = always
RestartSec = 5
Type = simple

[Install]
WantedBy = multi-user.target
