[Unit]
Description = DREAM I/O Service
After=syslog.target network.target
[Service]
WorkingDirectory=/srv/nodejs
ExecStart = /usr/bin/node dream-io.js
Restart = always
RestartSec = 10
Type = simple

[Install]
WantedBy = multi-user.target
