[Unit]
Description = Weigh Service
BindTo = dev-ttyUSB0.device
After=bluetooth.service dev-ttyUSB0.device
Requires=bluetooth.service
[Service]
WorkingDirectory=/srv/nodejs
ExecStart = /usr/bin/node weigh.js -c weigh
Restart = always
RestartSec = 10
Type = simple

[Install]
WantedBy = multi-user.target
