config:
  pubnub:
    publishKey: "demo"
    subscribeKey: "demo"
  medusa:
    url: "http://dream.misasa.okayama-u.ac.jp/demo/"
    auth:
      user: "admin"
      password: "admin"
  tepra:
    url: "http://172.24.1.121:8889/"
    printer: "KING JIM SR5900P"
    template: "18x18"
  balance:
    - name: "METTLER TOLEDO MS1602S"
      port: "/dev/ttyUSB0"
      options:
        baudRate: 9600
      delimiter: "\r\n"
      command: "S\r\n"
    - name: "AND FG-30KBM"
      port: "/dev/ttyUSB1"
      options:
        baudRate: 2400
        dataBits: 7
        parity: 'even'
      delimiter: "\r\n"
      command: "Q\r\n"
